.vscode/

Domain/obj/
Domain/bin/
Api/links.db/

Api/obj/
Api/bin/
Application.Contracts/obj/
Application.Contracts/bin/
Application/obj/
Application/bin/
Domain.Shared/obj/
Domain.Shared/bin/


Infrastructure.Data/obj/
Infrastructure.Data/bin/

Infrastructure.Util/obj/
Infrastructure.Util/bin/